APP_PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=tdd_db
DB_USER=tdd_user
DB_PASSWORD=tdd_password

JWT_SECRET=change_this_jwt_secret_in_production
JWT_EXPIRES_IN=7d

OPENCODE_SHARED_DIR=../shared/jobs
